<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!--CSS files-->
  <link rel='stylesheet' href='/content/app.css' />
</head>
<body>

    <!--Home-->
    <% include partials/home.ejs %>
    <!--Flower-->
    <% include partials/flower.ejs %>


  <!--Script Files-->
  <script src = "/scripts/app.js"></script>
    <script src = "/jquery/dist/jquery.min.js"></script>
</body>
</html>
